.heading {
  margin-bottom: 8px;
}

.models {
  margin-bottom: 32px;
  color: var(--text-color-secondary);

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.dropdowns {
  @include page-grid;
}
