.header {
  position: sticky;
  z-index: 30;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: $border-width solid var(--bd-color-primary);

  background-color: var(--bg-nav);
  -webkit-backdrop-filter: blur(8px); /* Safari support 9-17.6 */
  backdrop-filter: blur(8px);

  @include on-desktop {
    column-gap: 24px;
  }

  &__logo {
    display: inline-flex;
    padding-inline: 16px;

    @include on-desktop {
      padding-inline: 24px;
    }
  }

  &__actions {
    display: flex;

    @include on-desktop {
      flex-grow: 1;
    }
  }
}
