.count {
  @extend %flex-center;

  position: absolute;
  top: 0;
  right: 0;

  border: 2px solid var(--bg-color-primary);
  border-radius: 50%;

  color: $light-color;

  background-color: var(--active-color);

  @include square-size(21px);

  @include on-desktop {
    border-color: var(--bg-color-layout);
  }
}
