.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  &__heading {
    flex-grow: 1;
  }

  &__prev,
  &__next {
    @extend %flex-center;

    @include square-size(32px);
  }

  &__prev {
    margin-right: 16px;
  }

  &__prev:disabled,
  &__next:disabled {
    @include primary-button-disabled;
  }

  &__prev:not(:disabled),
  &__next:not(:disabled) {
    transform: translateZ(0);

    @include primary-button;
  }
}

.products {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  overflow-x: auto;
  display: grid;
  grid-auto-columns: $card-width;
  grid-auto-flow: column;
  column-gap: 16px;
}
