.heading {
  margin-bottom: 8px;
}

.models {
  margin-bottom: 32px;
  color: var(--text-color-secondary);

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.dropdowns {
  @extend %scroll-margin;

  margin-bottom: 24px;

  @include page-grid;
}

.empty {
  padding-block: 24px;
  text-align: center;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-width);
  gap: 40px 16px;
  justify-content: center;

  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.progress-info {
  margin-bottom: 8px;
  color: var(--text-color-secondary);
  text-align: center;
}

.load-more {
  display: block;

  margin-inline: auto;
  padding: 16px 64px;
  border-radius: 4px;

  outline-offset: -1px;

  @include primary-button;
}
