.dropdowns {
  @extend %scroll-margin;

  margin-bottom: 24px;

  @include page-grid;
}

.empty {
  padding-block: 24px;
  text-align: center;
}

.wrapper {
  position: relative;

  &:focus {
    outline: none;
  }
}

.products {
  @include products-grid;
}

.progress {
  margin-bottom: 8px;
  color: var(--text-color-secondary);
  text-align: center;
}

.load {
  display: block;

  margin-inline: auto;
  padding: 16px 64px;
  border-radius: 4px;

  outline-offset: -1px;

  @include primary-button;
}
