.heading {
  margin-bottom: 8px;
}

.models {
  margin-bottom: 32px;
  color: var(--text-color-secondary);

  @include on-tablet {
    margin-bottom: 40px;
  }
}

.dropdowns {
  margin-bottom: 24px;

  @include page-grid;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-width);
  gap: 40px 16px;
  justify-content: center;

  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}
