.product {
  padding: 16px;
  background-color: var(--bg-color-secondary);

  @include on-tablet {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    column-gap: 24px;
    align-items: center;

    padding: 24px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &__top,
  &__bottom {
    display: grid;
    align-items: center;

    @include on-tablet {
      display: contents;
    }
  }

  &__top {
    grid-template-columns: auto auto 1fr;
    column-gap: 16px;
    margin-bottom: 16px;
  }

  &__bottom {
    grid-template-columns: auto 1fr;
  }

  &__remove {
    @extend %flex-center;

    opacity: 0.5;
    transition: opacity 0.18s;

    @include square-size(32px);

    &:hover,
    &:focus-visible {
      opacity: 1;
    }
  }

  img {
    object-fit: contain;
  }

  &__controls {
    display: flex;
  }

  &__count,
  &__increment,
  &__decrement {
    @extend %flex-center;

    @include square-size(32px);
  }

  &__increment:disabled,
  &__decrement:disabled {
    @include primary-button-disabled;
  }

  &__increment:not(:disabled),
  &__decrement:not(:disabled) {
    transform: translateZ(0);

    @include primary-button;
  }

  &__price {
    min-width: 110px;
    text-align: right;
  }
}
