.product {
  display: flex;
  align-items: center;

  &__remove {
    @extend %flex-center;

    opacity: 0.5;
    transition: opacity 0.18s;

    @include square-size(32px);

    &:hover {
      opacity: 1;
    }
  }

  img {
    width: 80px;
    height: 80px;
  }

  &__controls {
    display: flex;
  }

  &__count,
  &__increment,
  &__decrement {
    @extend %flex-center;

    @include square-size(32px);
  }

  &__increment:disabled,
  &__decrement:disabled {
    @include primary-button-disabled;
  }

  &__increment:not(:disabled),
  &__decrement:not(:disabled) {
    transform: translateZ(0);

    @include primary-button;
  }
}
