.skip {
  &-forward-slider,
  &-back-slider,
  &-forward-carousel,
  &-back-carousel,
  &-forward-products,
  &-back-products {
    padding: 18px 6px;
    border-radius: 4px;
  }

  &-forward-slider,
  &-back-slider {
    left: 0;

    @include on-tablet {
      left: 64px;
    }
  }

  &-forward-carousel,
  &-back-carousel,
  &-forward-products,
  &-back-products {
    left: 16px;
  }

  &-forward-slider,
  &-forward-products {
    top: 16px;
  }

  &-forward-carousel {
    top: 88px;
  }

  &-back-slider {
    bottom: 56px;
  }

  &-back-carousel,
  &-back-products {
    bottom: 32px;
  }
}
