.pagination {
  display: flex;
  column-gap: 8px;
  align-items: center;

  width: fit-content;
  margin-inline: auto;

  @include on-tablet {
    column-gap: 16px;
  }

  &__prev,
  &__next {
    @extend %flex-center;

    @include square-size(26px);

    @include on-tablet {
      @include square-size(32px);
    }
  }

  &__prev[aria-disabled="true"],
  &__next[aria-disabled="true"] {
    @include primary-button-disabled;
  }

  &__prev[aria-disabled="false"],
  &__next[aria-disabled="false"] {
    @include primary-button;
  }

  &__list {
    display: flex;
    column-gap: 4px;

    @include on-tablet {
      column-gap: 8px;
    }
  }

  &__item,
  &__ellipsis {
    @extend %flex-center;

    @include square-size(26px);

    @include on-tablet {
      @include square-size(32px);
    }
  }

  &__item:not(.active) {
    transform: translateZ(0);

    @include primary-button(var(--bg-color-secondary));
  }

  &__item.active {
    color: $light-color;
    background-color: var(--accent-color);
  }

  &__ellipsis {
    cursor: default;
  }
}
