.pagination {
  display: flex;
  column-gap: 8px;
  align-items: center;

  width: fit-content;
  margin-inline: auto;

  @include on-tablet {
    column-gap: 16px;
  }

  a {
    outline-offset: 2px;
  }

  &__prev,
  &__next {
    @extend %flex-center;

    border-style: solid;
    border-width: $border-width;

    @include square-size(26px);

    @include on-tablet {
      @include square-size(32px);
    }
  }

  &__prev[aria-disabled="true"],
  &__next[aria-disabled="true"] {
    pointer-events: none;
    border-color: var(--bd-color-primary);
    background-color: transparent;

    svg {
      stroke: var(--icon-color);
    }
  }

  &__prev[aria-disabled="false"],
  &__next[aria-disabled="false"] {
    border-color: var(--bd-color-icon);
    background-color: var(--bg-color-primary);

    svg {
      transform: translateZ(0);
      opacity: 0.7;
      transition: scale 0.28s, opacity 0.18s;
    }
  }

  &__prev[aria-disabled="false"]:hover svg,
  &__next[aria-disabled="false"]:hover svg,
  &__prev[aria-disabled="false"]:focus-visible svg,
  &__next[aria-disabled="false"]:focus-visible svg {
    scale: 1.125;
    opacity: 1;
  }

  &__list {
    display: flex;
    column-gap: 4px;

    @include on-tablet {
      column-gap: 8px;
    }
  }

  &__item,
  &__ellipsis {
    @extend %flex-center;

    @include square-size(26px);

    @include on-tablet {
      @include square-size(32px);
    }
  }

  &__item:not(.active) {
    border: $border-width solid var(--bd-color-icon);
    background-color: var(--bg-color-secondary);

    .hovered {
      transform: translateZ(0);
      opacity: 0.7;
      transition: opacity 0.18s;
    }

    &:hover .hovered,
    &:focus-visible .hovered {
      opacity: 1;
    }
  }

  &__item.active {
    color: $white-color;
    background-color: var(--accent-color);
  }

  &__ellipsis {
    cursor: default;
  }
}
