@use "sass:math";

.controls {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;

  &__cart,
  &__favorite {
    z-index: 20;
    outline-offset: 2px;
  }

  &__cart {
    flex-grow: 1;
    text-align: center;

    @include accent-button;

    &.added {
      color: var(--text-color-primary);

      @include primary-button;
    }
  }

  &__favorite {
    @extend %flex-center;

    position: relative;

    @include primary-button;
    @include square-size(42px);

    &.active svg {
      fill: $active-color;
      stroke: $active-color;
    }

    .effect {
      position: absolute;
      inset: 0;
      display: grid;
      place-items: center;
    }

    .circle {
      position: absolute;
      transform: scale(0);
      border: 20px solid $color-pink-dark;
      border-radius: 50%;

      @include square-size(38px);
    }

    .particle {
      position: absolute;
      top: 50%;
      left: 50%;

      border-radius: 50%;

      background-color: $color-particle;

      @include square-size(0);

      @for $num from 1 through 6 {
        &:nth-child(#{$num}) {
          transform: translate(-50%, -50%)
            rotate(#{math.div(360deg, 6) * $num})
            translateX(20px);
        }
      }
    }

    &.animating {
      .circle {
        animation: circle-effect 0.5s ease-out forwards;
      }

      .particle {
        animation: particle-effect 1s ease-out forwards;
      }

      @include reduce-motion {
        .circle,
        .particle {
          animation: none;
        }
      }
    }
  }
}

@keyframes circle-effect {
  0% {
    transform: scale(0);
    border-color: $color-pink-dark;
  }

  50% {
    border-color: $color-pink-light;
    border-width: 20px;
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
    border-width: 0;
  }
}

@keyframes particle-effect {
  0%,
  25% {
    transform: rotate(0deg) translate(-50%, -50%);

    @include square-size(0);
  }

  60% {
    @include square-size(4px);
  }

  100% {
    @include square-size(0);
  }
}
