.back {
  display: flex;
  column-gap: 4px;
  align-items: center;

  margin-block: 16px;
  padding-block: 8px;

  transition: opacity 0.18s;

  @include on-tablet {
    margin-bottom: 32px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.heading {
  margin-bottom: 32px;
}

.cart {
  @include page-grid;

  .products {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 17;
    }
  }

  .summary {
    grid-column: 1 / -1;
    padding: 24px;
    text-align: center;

    @include on-desktop {
      grid-column: 17 / -1;
    }

    &__total {
      color: var(--text-color-secondary);
    }

    &__line {
      display: block;
      height: 1px;
      margin-block: 16px;
      background-color: var(--bd-color-primary);

      @include on-desktop {
        margin-block: 24px;
      }
    }

    &__checkout {
      width: 100%;
      padding-block: 14px;

      @include accent-button;
    }
  }
}
