.back {
  display: flex;
  column-gap: 4px;
  align-items: center;

  margin-block: 16px;
  padding-block: 8px;

  transition: opacity 0.18s;

  @include on-tablet {
    margin-bottom: 32px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.heading {
  margin-bottom: 32px;
}

.cart {
  @include page-grid;

  .products {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 1 / 17;
    }
  }

  .summary {
    grid-column: 1 / -1;
    padding: 24px;
    text-align: center;

    @include on-desktop {
      grid-column: 17 / -1;
    }

    &__total {
      color: var(--text-color-secondary);
    }

    &__line {
      display: block;
      height: 1px;
      margin-block: 16px;
      background-color: var(--bd-color-primary);

      @include on-desktop {
        margin-block: 24px;
      }
    }

    &__checkout {
      width: 100%;
      padding-block: 14px;
      outline-offset: 2px;

      @include accent-button;
    }
  }
}

.dialog {
  padding: 28px;
  border: $border-width solid var(--dialog-bd);
  border-radius: 8px;

  color: var(--text-color-primary);

  opacity: 0;
  background-color: var(--dialog-bg);

  @include on-desktop {
    transition: opacity 0.18s, overlay 0.28s allow-discrete,
      display 0.28s allow-discrete;
  }

  &::backdrop {
    opacity: 0;
    background-color: var(--dialog-backdrop-bg);
    -webkit-backdrop-filter: blur(4px); /* Safari support 9-17.6 */
    backdrop-filter: blur(4px);

    @include on-desktop {
      transition: opacity 0.28s;
    }
  }

  &[open] {
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.28s, transform 0.28s;

    @starting-style {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  &[open]::backdrop {
    opacity: 1;
    transition: opacity 0.28s;

    @starting-style {
      opacity: 0;
    }
  }

  &__message {
    white-space: pre-line;
  }

  &__heading,
  &__message {
    margin-bottom: 24px;
  }

  &__ok {
    display: block;
    margin-inline: auto;
    padding: 8px 28px;
    outline-offset: 2px;

    @include accent-button;
  }
}
