.wrapper {
  margin-top: 56px;

  @include on-tablet {
    margin-top: 64px;
  }

  @include on-desktop {
    margin-top: 80px;
  }
}

.heading {
  margin-bottom: 24px;
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  margin-inline: auto;
}
