.logo {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;

  &__ok {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-20%);

    @include square-size(16px);
  }

  @include on-desktop {
    &__name {
      width: 80px;
      height: 28px;
    }

    &__ok {
      @include square-size(20px);
    }
  }
}
