.dialog {
  padding: 28px;
  border: $border-width solid var(--dialog-bd);
  border-radius: 8px;

  color: var(--text-color-primary);

  opacity: 0;
  background-color: var(--dialog-bg);

  @include on-desktop {
    transition: opacity 0.18s, overlay 0.28s allow-discrete,
      display 0.28s allow-discrete;
  }

  &::backdrop {
    opacity: 0;
    background-color: var(--dialog-backdrop-bg);
    -webkit-backdrop-filter: blur(4px); /* Safari support 9-17.6 */
    backdrop-filter: blur(4px);

    @include on-desktop {
      transition: opacity 0.28s;
    }
  }

  &:focus {
    outline: none;
  }

  &[open] {
    touch-action: none;
    transform: scale(1);
    opacity: 1;
    transition: opacity 0.28s, transform 0.28s;

    @starting-style {
      transform: scale(0.9);
      opacity: 0;
    }
  }

  &[open]::backdrop {
    opacity: 1;
    transition: opacity 0.28s;

    @starting-style {
      opacity: 0;
    }
  }

  &__message {
    white-space: pre-line;
  }

  &__heading,
  &__message {
    margin-bottom: 24px;
  }

  &__ok {
    display: block;
    margin-inline: auto;
    padding: 8px 28px;
    outline-offset: 2px;

    @include accent-button;
  }
}
