.backdrop {
  position: fixed;
  z-index: 50;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  opacity: 0;
  background-color: var(--bg-nav);
  -webkit-backdrop-filter: blur(6px); /* Safari support 9-17.6 */
  backdrop-filter: blur(6px);

  transition: opacity 0.18s ease-out, visibility 0.18s allow-discrete;

  .dialog {
    transform: scale(0.9);

    padding: 28px;
    border: $border-width solid var(--dialog-bd);
    border-radius: 8px;

    color: var(--text-color-primary);

    background-color: var(--dialog-bg);

    transition: transform 0.18s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    &__message {
      white-space: pre-line;
    }

    &__heading,
    &__message {
      margin-bottom: 24px;
    }

    &__ok {
      display: block;
      margin-inline: auto;
      padding: 8px 28px;
      outline-offset: 2px;

      @include accent-button;
    }
  }

  &[data-dialog-open="true"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.18s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    @starting-style {
      opacity: 0;
    }

    .dialog {
      transform: scale(1);

      @starting-style {
        transform: scale(0.9);
      }
    }
  }
}
