.product {
  &__heading {
    @extend %heading-spacing-primary;
  }

  &__overview {
    @include on-tablet {
      @include page-grid;
    }
  }

  &__details {
    @include on-tablet {
      grid-column: 8 / -1;
      order: 3;
    }

    @include on-desktop {
      grid-column: 14 / 21;
    }
  }
}
