.heading {
  @extend %heading-spacing-utility;
}

.subheading {
  margin-bottom: 8px;
}

.list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px 8px;
  align-items: center;

  &__title {
    color: var(--text-color-secondary);
  }
}

.link {
  position: relative;
  display: flex;
  width: fit-content;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: $accent-color;
  }

  &__text {
    position: relative;
    z-index: 10;
    padding-block: 6px;
    transition: opacity 0.18s;

    &:hover {
      opacity: 0.7;
    }
  }
}
