@use "sass:list";

@each $color in $category-colors {
  $i: list.index($category-colors, $color);

  .category:nth-child(#{$i}) .category__wrapper {
    background-color: $color;
  }
}

.category {
  position: relative;

  &__link {
    position: absolute;
    z-index: 10;
    inset: 0;
  }

  &__wrapper {
    position: relative;
    overflow: hidden;
    aspect-ratio: 1 / 1;
    margin-bottom: 24px;
  }

  &__image {
    transform-origin: right;

    width: 100%;
    height: 100%;

    opacity: 0;
    object-fit: cover;

    transition: scale 0.28s, opacity 0.44s ease-in-out;

    &--1 {
      transform: translate(50px, 100px);
    }
    &--2 {
      transform: translate(50px, 100px);
    }
    &--3 {
      transform: translate(50px, 110px);
      object-position: left;
    }

    &.loaded {
      opacity: 1;
    }
  }

  &:hover &__image {
    scale: 1.025;
  }

  &__heading {
    width: fit-content;
  }

  &__heading::after {
    content: "";

    transform-origin: right;
    scale: 0;

    display: block;

    height: 2px;

    background-color: var(--accent-color);

    transition: scale 0.28s;
  }

  &:hover &__heading::after {
    scale: 1;
  }

  &__models {
    margin-top: 2px;
    color: var(--text-color-secondary);
  }
}
