.breadcrumb {
  display: flex;
  column-gap: 8px;
  margin-block: 16px;

  @include on-tablet {
    margin-bottom: 32px;
  }

  &__item {
    display: inline-flex;
    align-items: center;
  }

  &__item:not(:last-child)::after {
    content: "";

    width: 16px;
    height: 16px;

    background-color: var(--text-color-secondary);

    -webkit-mask-image: url("@/assets/chevron-right.svg");
    mask-image: url("@/assets/chevron-right.svg");
  }

  &__link {
    padding: 8px;
  }

  &__link svg {
    transition: opacity 0.18s;
  }

  &__link:hover svg {
    opacity: 0.7;
  }

  &__current {
    color: var(--text-color-secondary);
  }
}
