.breadcrumb {
  display: flex;
  align-items: center;
  margin-block: 16px;

  @include on-tablet {
    margin-bottom: 32px;
  }

  &__item {
    display: inline-flex;
  }

  &__link {
    padding: 8px;
  }

  &__link svg {
    transition: opacity 0.18s;
  }

  &__link:hover svg {
    opacity: 0.7;
  }

  &__current {
    margin-left: 8px;
    color: var(--text-color-secondary);
  }
}
