.breadcrumb {
  display: flex;
  align-items: center;
  margin-block: 16px;

  @include on-tablet {
    margin-bottom: 32px;
  }

  &__item {
    display: inline-flex;
  }

  &__link {
    padding: 8px;
  }

  &__link svg {
    transform: translateZ(0);
    transition: scale 0.28s, opacity 0.18s;
  }

  &__link:hover svg {
    scale: 1.05;
    opacity: 0.8;
  }

  &__current {
    margin-left: 8px;
    color: var(--text-color-secondary);
  }
}
