.breadcrumb {
  @extend %heading-spacing-secondary;

  &__list {
    display: flex;
  }

  &__item {
    display: inline-flex;
    align-items: center;

    &:not(:last-child)::after {
      content: "";

      width: 16px;
      height: 16px;

      background-color: var(--text-color-secondary);

      -webkit-mask-image: url("@/assets/chevron-right.svg");
      mask-image: url("@/assets/chevron-right.svg");
    }

    &--current {
      margin-left: 8px;
      color: var(--text-color-secondary);
    }
  }

  &__link {
    padding: 8px;
    transition: opacity 0.18s;

    &:hover {
      opacity: 0.7;
    }
  }
}
