@use "./variables" as *;

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: 16px;

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}

@mixin products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, $card-width);
  gap: 40px 16px;
  justify-content: start;

  margin-bottom: 24px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

@mixin square-size($size) {
  width: $size;
  height: $size;
}

@mixin accent-button {
  color: $light-color;
  background-color: var(--accent-color);
  transition: opacity 0.18s;

  &:hover {
    opacity: 0.8;
  }
}

@mixin primary-button(
  $bg-color: var(--bg-color-primary),
  $bd-color: var(--bd-color-icon)
) {
  border: $border-width solid $bd-color;
  background-color: $bg-color;
  transition: opacity 0.18s;

  &:hover {
    opacity: 0.7;
  }
}

@mixin primary-button-disabled {
  pointer-events: none;
  border: $border-width solid var(--bd-color-primary);
  background-color: transparent;

  svg {
    stroke: var(--icon-color);
  }
}
