@use "./variables" as *;
@use "./mixins" as *;

%flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%scroll-margin {
  scroll-margin-top: $mobile-navbar-hight + 24px;

  @include on-desktop {
    scroll-margin-top: $desktop-navbar-hight + 24px;
  }
}

%count-wrapper {
  position: relative;
  padding: 12px;
}

%heading-spacing-primary {
  margin-top: 16px;
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 40px;
  }
}

%heading-spacing-secondary {
  margin-top: 16px;

  @include on-tablet {
    margin-top: 32px;
  }
}

%heading-spacing-utility {
  margin-block: 24px 16px;

  @include on-tablet {
    margin-block: 32px 24px;
  }

  @include on-desktop {
    margin-top: 56px;
  }
}
