@use "./variables" as *;
@use "./mixins" as *;

%flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%scroll-margin {
  scroll-margin-top: $mobile-navbar-hight + 24px;

  @include on-desktop {
    scroll-margin-top: $desktop-navbar-hight + 24px;
  }
}

%count-wrapper {
  position: relative;
  padding: 12px;
}
