$tablet-min-width: 592px;
$desktop-min-width: 1136px;
$accent-color: #7852db;
$mobile-navbar-hight: 48px;
$desktop-navbar-hight: 64px;
$border-width: 1px;
$category-colors: #6d6474, #81828c, #973d5f;
$carousel-pictures-margin: 48px;
$carousel-pictures-width: 700px;
$card-width: clamp(224px, 37.5vw, 272px);
