$tablet-min-width: 592px;
$desktop-min-width: 1136px;
$accent-color: #7852db;
$active-color: #bc4646;
$light-color: #f1f2f9;
$dark-color: #313237;
$light-border-color: #b4bdc3;
$bg-color-toast: rgba(168 230 207 / 80%);
$mobile-navbar-hight: 48px;
$desktop-navbar-hight: 64px;
$border-width: 1px;
$category-colors: #6d6474, #81828c, #973d5f;
$carousel-pictures-margin: 48px;
$carousel-pictures-width: 700px;
$mobile-card-width: clamp(224px, 70vw, 272px);
$tablet-card-width: clamp(224px, 37.75vw, 272px);
$color-pink-light: rgb(238, 135, 228);
$color-pink-dark: rgb(182, 35, 168);
$color-particle: rgb(179, 98, 171);
