$tablet-min-width: 592px;
$desktop-min-width: 1136px;
$accent-color: #8755ee;
$mobile-navbar-hight: 48px;
$desktop-navbar-hight: 64px;
$border-width: 1px;
$category-colors: #6d6474, #8d8d92, #973d5f;
