html:has(.not-found) {
  overscroll-behavior: none;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  -webkit-font-smoothing: auto;
  color: $dark-color;

  background-color: $light-color;

  &__heading {
    margin-bottom: 24px;
    opacity: 0.7;
  }

  img {
    height: auto;
    margin-bottom: 12px;
  }

  &__subheading {
    margin-bottom: 8px;
  }

  &__link {
    padding: 16px 8px;
    border-radius: 4px;
    outline-offset: -1px;

    @include primary-button($light-color, $light-border-color);
  }
}
