html:has(.not-found) {
  overscroll-behavior: none;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  background-color: #fff;
  color: #313237;

  -webkit-font-smoothing: auto;

  &__heading {
    opacity: 0.7;
    margin-bottom: 24px;
  }

  img {
    height: auto;
    margin-bottom: 12px;
  }

  &__subheading {
    margin-bottom: 8px;
  }

  &__link {
    padding: 16px 8px;
    border: 1px solid #b4bdc3;
    border-radius: 4px;

    outline-offset: -1px;

    transition: opacity 0.18s;
  }

  &__link:hover {
    opacity: 0.7;
  }
}
