.dialog {
  position: fixed;
  z-index: 50;
  inset: 0;

  padding-top: 16px;

  visibility: hidden;
  opacity: 0;
  background-color: var(--bg-color-primary);

  transition: opacity 0.1s, visibility 0s 0.1s;

  &__wrapper {
    position: relative;
    max-width: 700px;
    margin-inline: auto;
    padding-inline: clamp(16px, 3.75vw, 24px);
  }

  &__heading {
    margin-bottom: 16px;
  }

  &__field {
    position: relative;
  }

  &__form {
    margin-bottom: 16px;
  }

  &__search {
    width: 100%;
    height: 38px;
    padding-inline: 16px;
    border-radius: 19px / 50%;

    background-color: var(--bd-color-primary);

    &::placeholder {
      color: var(--text-color-secondary);
    }
  }

  &__clear {
    position: absolute;
    top: 0;
    right: 16px;
    padding: 9px;
  }

  &__close {
    position: absolute;
    top: -7px;
    right: 10px;
    padding: 7px;
  }

  &__clear,
  &__close {
    transition: opacity 0.18s;

    &:hover {
      opacity: 0.5;
    }
  }

  &[data-search-dialog-open="true"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s;
  }
}

.products {
  margin-bottom: 16px;
}

.product {
  display: block;
  padding: 8px 16px;
  outline-offset: -3px;

  &:hover,
  &[aria-selected="true"] {
    background-color: var(--bd-color-primary);
  }
}

.match {
  font-weight: 800;
}

.keyboard {
  display: flex;
  column-gap: 16px;

  &__group {
    display: flex;
    column-gap: 4px;
    align-items: center;
  }

  &__key {
    display: inline-block;

    padding: 4px 8px;
    border: 1.5px solid var(--icon-color);
    border-radius: 4px;

    line-height: 16px;

    background-color: var(--bd-color-primary);
  }
}
