@include on-tablet {
  .typing {
    overflow: hidden;

    max-width: fit-content;
    padding-right: 8px;
    border-right: 3px solid;

    white-space: nowrap;

    @include reduce-motion {
      padding-right: initial;
      border-right: none;
    }
  }

  .typing--en,
  .typing--pl {
    width: 30ch;
    animation: typing 0.75s steps(30), blink 1.5s step-start infinite;
  }

  .typing--fi {
    width: 24ch;
    animation: typing 0.75s steps(24), blink 1.5s step-start infinite;
  }

  .typing--uk {
    width: 23ch;
    animation: typing 0.75s steps(23), blink 1.5s step-start infinite;
  }

  @include reduce-motion {
    .typing--en,
    .typing--pl,
    .typing--fi,
    .typing--uk {
      animation: none;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}

.welcome {
  margin-block: 24px;

  @include on-tablet {
    margin-block: 32px;
  }

  @include on-desktop {
    margin-block: 56px;
  }
}

.wrapper {
  position: relative;

  &--pictures {
    max-width: $carousel-pictures-width + $carousel-pictures-margin * 2;
    margin-inline: auto;
    padding-bottom: 40px;
  }
}

.categories {
  &__heading {
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    grid-template-columns: minmax(0, 368px);
    gap: 32px 16px;
    justify-content: center;

    @include on-tablet {
      grid-template-columns: repeat(3, 1fr);
      justify-content: normal;
    }
  }
}
