.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  &__heading {
    flex-grow: 1;
  }

  &__prev,
  &__next {
    @extend %flex-center;

    border-style: solid;
    border-width: $border-width;

    @include square-size(32px);
  }

  &__prev {
    margin-right: 16px;
  }

  &__prev:disabled,
  &__next:disabled {
    pointer-events: none;
    border-color: var(--bd-color-primary);
    background-color: transparent;

    svg {
      stroke: var(--icon-color);
    }
  }

  &__prev:not(:disabled),
  &__next:not(:disabled) {
    border-color: var(--bd-color-icon);
    background-color: var(--bg-color-primary);

    svg {
      transform: translateZ(0);
      opacity: 0.7;
      transition: scale 0.28s, opacity 0.18s;
    }
  }

  &__prev:not(:disabled):hover svg,
  &__next:not(:disabled):hover svg,
  &__prev:not(:disabled):focus-visible svg,
  &__next:not(:disabled):focus-visible svg {
    scale: 1.125;
    opacity: 1;
  }
}

.products {
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  overflow-x: auto;
  display: grid;
  grid-auto-columns: $card-width;
  grid-auto-flow: column;
  column-gap: 16px;
}
