html:has(.not-found) {
  overscroll-behavior: none;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  &__heading {
    margin-bottom: 24px;
    opacity: 0.7;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
  }

  &__subheading {
    margin-bottom: 24px;
  }

  &__link {
    padding: 16px 24px;
    border-radius: 4px;
    outline-offset: -1px;

    @include primary-button;
  }
}
