.back {
  display: flex;
  column-gap: 4px;
  align-items: center;

  margin-block: 16px;
  padding-block: 8px;

  transition: opacity 0.18s;

  @include on-tablet {
    margin-bottom: 32px;
  }

  &:hover {
    opacity: 0.7;
  }
}
