@use "../../../styles/utils/index.scss" as utils;

.dropdown {
  position: relative;

  &__toggle {
    display: inline-flex;
    padding: 16px;
    border-left: utils.$border-width solid var(--bd-color-primary);
    outline-offset: -3px;

    svg {
      transform: translateZ(0);
      opacity: 0.7;
      transition: opacity 0.18s, scale 0.28s;
    }

    &[aria-expanded="true"] svg,
    &:focus-visible svg {
      opacity: 1;
    }

    &[aria-expanded="true"] svg:nth-child(2),
    &:focus-visible svg:nth-child(2) {
      scale: 1.25;
    }

    @include utils.on-desktop {
      padding: 24px;
    }
  }

  &__menu {
    position: absolute;
    z-index: 30;
    top: 100%;
    left: 0;

    min-width: 120px;
    padding-block: 12px;
    border: utils.$border-width solid var(--bd-color-primary);

    background-color: var(--bg-color-primary);
  }

  &__toggle[aria-expanded="false"] + &__menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.18s, visibility 0s 0.18s;
  }

  &__toggle[aria-expanded="true"] + &__menu {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.18s, visibility 0s;
  }

  &__lang {
    display: flex;
    column-gap: 4px;

    width: 100%;
    padding: 12px;

    outline-offset: -2px;

    transition: color 0.18s ease-out;

    img {
      border-radius: 50%;
    }

    &:nth-child(1) {
      margin-bottom: 12px;
      border-bottom: utils.$border-width solid var(--bd-color-primary);
    }

    &[aria-current="true"] {
      pointer-events: none;
      color: var(--text-color-secondary);
    }

    &[aria-current="true"] img {
      opacity: 0.5;
    }

    &:not([aria-current="true"]):hover {
      color: utils.$accent-color;
    }
  }
}
