.dropdown {
  position: relative;

  &__toggle {
    @extend %icon-control;

    padding: 16px;

    @include on-desktop {
      padding: 24px;
    }

    svg {
      transform: translateZ(0);
      opacity: 0.7;
      transition: opacity 0.18s, scale 0.28s;
    }

    &[aria-expanded="true"] svg,
    &:focus-visible svg {
      opacity: 1;
    }

    &[aria-expanded="true"] svg:nth-child(2),
    &:focus-visible svg:nth-child(2) {
      scale: 1.25;
    }

    @include reduce-motion {
      svg {
        transition: opacity 0.18s;
      }

      &[aria-expanded="true"] svg:nth-child(2),
      &:focus-visible svg:nth-child(2) {
        scale: 1;
      }
    }
  }

  &__menu {
    position: absolute;
    z-index: 40;
    top: 100%;
    left: 0;

    min-width: 120px;
    padding-block: 12px;
    border: $border-width solid var(--bd-color-primary);

    background-color: var(--bg-color-primary);
  }

  &__toggle[aria-expanded="false"] + &__menu {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.18s, visibility 0s 0.18s;
  }

  &__toggle[aria-expanded="true"] + &__menu {
    opacity: 1;
    transition: opacity 0.18s;
  }

  &__lang {
    display: flex;
    column-gap: 4px;

    width: 100%;
    padding: 12px;

    outline-offset: -2px;

    transition: color 0.18s ease-out;

    img {
      border-radius: 50%;
    }

    &:nth-child(1) {
      margin-bottom: 12px;
      border-bottom: $border-width solid var(--bd-color-primary);
    }

    &:disabled {
      cursor: default;
      color: var(--text-color-secondary);
    }

    &:disabled img {
      opacity: 0.5;
    }

    &:not(:disabled):hover {
      color: $accent-color;
    }
  }
}
