.carousel {
  overflow: hidden;
  width: 100vw;
  margin-left: calc(50% - 50vw);

  @include on-tablet {
    width: initial;
    margin-inline: $carousel-pictures-margin;
  }

  &__paused {
    @extend %flex-center;

    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 48px;

    @include square-size(48px);

    border-radius: 50%;

    background-color: $dark-color;
    outline-offset: -1px;

    transition: opacity 0.18s;

    @include on-tablet {
      right: 56px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__prev,
  &__next {
    display: none;

    @include on-tablet {
      position: absolute;
      top: 0;
      bottom: 40px;

      display: initial;

      width: 30px;

      outline-offset: -1px;

      @include primary-button;

      svg {
        width: 100%;
      }
    }
  }

  &__prev {
    @include on-tablet {
      left: 0;
    }
  }

  &__next {
    @include on-tablet {
      right: 0;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(5, 100%);

    &--transition {
      transition: transform 0.36s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
  }

  &__slide {
    // Fix iOS/WebKit slide flicker/jitter on mobile via GPU promotion
    transform: translateZ(0);
    max-height: 400px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.dots {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  text-align: center;

  &__dot {
    @extend %flex-center;

    outline-offset: -1px;

    @include square-size(32px);

    .line {
      width: 14px;
      height: 4px;
      background-color: var(--bd-color-primary);
    }
  }

  &__dot[aria-current="true"] .line {
    background-color: var(--text-color-primary);
  }

  &__dot:not([aria-current="true"]) {
    .line {
      transition: opacity 0.18s;
    }

    &:hover .line {
      opacity: 0.7;
    }
  }
}
