.product {
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr repeat(4, auto);
  row-gap: 8px;

  height: 100%;
  padding: 32px;
  border: $border-width solid var(--bd-color-secondary);

  background-color: var(--bg-color-secondary);

  &__link {
    position: absolute;
    z-index: 10;
    inset: 0;
    outline-offset: -3px;
  }

  &__image {
    transform-origin: bottom;

    width: 100%;
    max-width: 206px;

    object-fit: contain;

    transition: scale 0.28s;
  }

  &:hover &__image {
    scale: 1.05;
  }

  &__prices {
    position: relative;
    display: flex;
    column-gap: 8px;
  }

  &__full-price {
    color: var(--text-color-secondary);
    text-decoration: line-through;
  }

  &__line {
    height: 1px;
    background-color: var(--bd-color-primary);
  }

  &__details {
    padding-block: 8px;
  }

  &__detail {
    display: flex;
    justify-content: space-between;
  }

  &__detail:not(:last-child) {
    margin-bottom: 8px;
  }

  &__subname {
    color: var(--text-color-secondary);
  }

  &__controls {
    display: flex;
    column-gap: 8px;
    justify-content: space-between;
  }

  &__cart,
  &__favorite {
    z-index: 20;
    outline-offset: 2px;
  }

  &__cart {
    flex-grow: 1;

    color: #f1f2f9;
    text-align: center;

    background-color: var(--accent-color);

    transition: opacity 0.18s;

    &:hover {
      opacity: 0.8;
    }
  }

  &__favorite {
    @extend %flex-center;

    border: $border-width solid var(--bd-color-icon);
    background-color: var(--bg-color-primary);

    @include square-size(42px);

    .icon {
      transform: translateZ(0);
      transition: opacity 0.18s, scale 0.28s;
    }

    &:hover .icon {
      scale: 1.05;
      opacity: 0.8;
    }
  }
}
