.product {
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr repeat(4, auto);
  row-gap: 8px;

  height: 100%;
  padding: 32px;
  border: $border-width solid var(--bd-color-secondary);

  background-color: var(--bg-color-secondary);

  &__link {
    @extend %scroll-margin;

    position: absolute;
    z-index: 10;
    inset: 0;
    outline-offset: -3px;
  }

  &__image {
    width: 100%;
    object-fit: contain;
  }

  &__line {
    height: 1px;
    background-color: var(--bd-color-primary);
  }

  dl {
    padding-block: 8px;
  }
}
