@use "./styles/base";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100svh;

  main {
    flex-grow: 1;
  }
}

.skip-content {
  top: 7.5px;
  left: 7.5px;
  padding: 12px 6px;
  border-radius: 4px;

  @include on-desktop {
    top: 11.5px;
    left: 11.5px;
    padding: 16px 8px;
  }
}
