.footer {
  border-top: $border-width solid var(--bd-color-primary);

  &__wrapper {
    display: grid;
    row-gap: 32px;
    padding-block: 32px;

    @include on-tablet {
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include on-tablet {
      flex-direction: row;
      column-gap: 13.5px;
    }
  }

  &__back {
    display: inline-flex;
    column-gap: 16px;
    align-items: center;
    justify-self: center;

    transition: opacity 0.18s;

    &:hover {
      opacity: 0.7;
    }

    @include on-tablet {
      justify-self: end;
    }
  }

  &__icon {
    @extend %flex-center;

    transform: translateZ(0);
    border: $border-width solid var(--bd-color-icon);
    background-color: var(--bg-color-primary);

    @include square-size(32px);
  }
}
