.footer {
  border-top: $border-width solid var(--bd-color-primary);

  &__wrapper {
    display: grid;
    row-gap: 32px;
    padding-block: 32px;

    @include on-tablet {
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include on-tablet {
      flex-direction: row;
      column-gap: 13.5px;
    }
  }

  &__back {
    display: inline-flex;
    column-gap: 16px;
    align-items: center;
    justify-self: center;

    @include on-tablet {
      justify-self: end;
    }

    &--text {
      opacity: 0.7;
      transition: opacity 0.18s;
    }

    &--icon {
      @extend %flex-center;

      border: $border-width solid var(--bd-color-icon);
      background-color: var(--bg-color-primary);

      @include square-size(32px);
    }

    svg {
      transition: scale 0.28s;
    }

    &:hover &--text,
    &:focus-visible &--text {
      opacity: 1;
    }

    &:hover svg,
    &:focus-visible svg {
      scale: 1.25;
    }
  }
}
