.search {
  @extend %icon-control;

  margin-left: auto;
  padding: 16px;

  @include on-desktop {
    padding: 24px;
  }

  svg {
    opacity: 0.7;
    transition: opacity 0.18s;
  }

  &:hover svg {
    opacity: 1;
  }
}
