@use "../utils" as *;

.btn--nav-left,
.btn--nav-right {
  position: relative;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom;
    scale: 0;

    width: 100%;
    height: 3px;

    background-color: var(--text-color-primary);

    transition: scale 0.28s;
  }

  &.active::after {
    scale: 1;
  }
}

.btn--nav-left {
  display: inline-block;
  padding-block: 8px;
  opacity: 0.7;
  transition: opacity 0.18s;

  &:not(.active):hover,
  &:not(.active):focus-visible {
    opacity: 1;
  }

  &.active {
    opacity: 1;
  }

  @include on-desktop {
    padding-block: 26.5px;
  }
}

.btn--nav-right {
  display: inline-flex;
  justify-content: center;

  width: 100%;
  padding: 12px;

  outline-offset: -2px;

  @include on-desktop {
    outline-offset: -3px;
  }

  svg {
    transform: translateZ(0);
    opacity: 0.7;
    transition: opacity 0.18s;
  }

  &.active svg {
    opacity: 1;
  }

  &:not(.active):hover svg,
  &:not(.active):focus-visible svg {
    opacity: 1;
  }
}

.btn--theme {
  @extend %icon-control;

  align-items: center;
  padding-inline: 16px;

  @include on-desktop {
    padding-inline: 24px;
  }

  span {
    display: inline-flex;
    align-items: center;

    width: 40px;
    height: 20px;
    border: $border-width solid transparent;
    border-radius: 12px;

    background-color: var(--bd-color-primary);

    transition: border-color 0.28s;
  }

  &:hover span {
    border-color: $accent-color;
  }
}

.btn--theme img {
  transform: translateX(1px);
  transition: transform 0.28s;
}

.light-theme .btn--theme img {
  transform: translateX(21px);
}

.btn--footer {
  display: inline-block;
  padding-block: 8px;
  opacity: 0.7;
  transition: opacity 0.18s;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}

@include reduce-motion {
  .btn--nav-left::after,
  .btn--nav-right::after,
  .btn--theme img {
    transition: none;
  }

  .btn--theme span {
    justify-content: center;

    border-color: transparent;

    opacity: 0.7;
    background-color: inherit;

    transition: opacity 0.18s;
  }

  .btn--theme:hover span {
    border-color: transparent;
    opacity: 1;
  }

  .btn--theme img,
  .light-theme .btn--theme img {
    transform: none;
  }
}
