@use "../utils" as *;

:root {
  --bg-nav: rgb(33 37 41 / 50%);
  --bg-color-layout: #212529;
  --bg-color-primary: #30353c;
  --bg-color-secondary: #1c2023;
  --bg-color-option: var(--bg-color-primary);
  --text-color-primary: #f1f2f9;
  --text-color-secondary: #848e95;
  --bd-color-primary: #3b3e4a;
  --bd-color-secondary: transparent;
  --bd-color-icon: transparent;
  --icon-color: #4a4d58;
  --accent-color: #7852db;
  --active-color: #bc4646;

  --dialog-bg: #1a1d1f;
  --dialog-bd: #262a2d;
  --backdrop-bg: rgb(33 37 41 / 80%);

  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color-primary);
  background-color: var(--bg-color-layout);
}

:root.light-theme {
  --bg-nav: rgb(255 255 255 / 50%);
  --bg-color-layout: #fff;
  --bg-color-primary: var(--bg-color-layout);
  --bg-color-secondary: var(--bg-color-layout);
  --bg-color-option: #fafbfc;
  --text-color-primary: #313237;
  --text-color-secondary: #6e767c;
  --bd-color-primary: #e2e6e9;
  --bd-color-secondary: var(--bd-color-primary);
  --bd-color-icon: #b4bdc3;
  --icon-color: var(--bd-color-icon);
  --accent-color: var(--text-color-primary);

  --dialog-bg: var(--bg-color-layout);
  --dialog-bd: var(--bd-color-primary);
  --backdrop-bg: rgb(255 255 255 / 80%);

  -webkit-font-smoothing: auto;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  margin: 0;
}

body:has(nav[data-menu-open="true"]),
body:has(div[data-dialog-open="true"]) {
  touch-action: none;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
dl {
  margin: 0;
}

img,
svg {
  display: block;
}

button {
  all: unset;

  cursor: pointer;

  box-sizing: border-box;

  font: inherit;

  outline: revert;
}

dd {
  margin-inline: 0;
}

section {
  @extend %scroll-margin;

  margin-bottom: 56px;

  @include on-tablet {
    margin-bottom: 64px;
  }

  @include on-desktop {
    margin-bottom: 80px;
  }
}

main:focus,
footer:focus,
section:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible,
div[role="option"]:focus-visible {
  outline: 3px solid $accent-color;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
